{% extends 'bootstrap/base.html' %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main_page') }}">Planet List</a>
        {% if session['logged_in'] %}
        <a class="navbar-brand" href="{{ url_for('logout') }}">Log out</a>
        {% else %}
        <a class="navbar-brand" href="{{ url_for('register') }}">Registration</a>
        <a class="navbar-brand" href="{{ url_for('login') }}">Log in</a>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
