{% extends 'base.html' %}

{% block title %}API Wars{% endblock %}

{% block page_content %}

{% set page = page|int %}
<link rel="stylesheet" type="text/css" href="static/stylesheet.css">
<script src="{{ url_for('static', filename='jquery.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript.js') }}" defer></script>
<div id="modal" class="modal">

    <!-- Modal content -->
    <div id = "modal-content" class="modal-content">
        <span class="close">&times;</span>
        <table id="resident-data" class="table">
        </table>
    </div>

</div>
<h1 class="page-header"> Star Wars universe planets </h1>
{% if page != 1 %}
{% set page = page-1 %}
<form id="previous" action="{{ url_for('next_pages', page=page) }}">
    {% set page = page+1 %}
</form>
{% endif %}
{% if page != 7 %}
{% set page = page+1 %}
<form id="next" action="{{ url_for('next_pages', page=page) }}">
    {% set page = page-1 %}
</form>
{% endif %}
{% if page == 1 %}
<button class="btn" id="previous" form="previous" disabled>Previous</button>
{% else %}
<button class="btn" id="previous" form="previous">Previous</button>
{% endif %}
{% if page == 7 %}
<button class="btn" id="next" form="next" disabled>Next</button>
{% else %}
<button class="btn" id="next" form="next">Next</button>
{% endif %}
<table class=table>
    <tr>
        <th>Name</th>
        <th>Diameter (KM)</th>
        <th>Climate</th>
        <th>Terrain</th>
        <th>Surface water percentage</th>
        <th>Population</th>
        <th>Population details</th>
    </tr>
    {% for planet in planets['results'] %}
    <tr>
        <td> {{ planet['name'] }}</td>
        <td> {{ planet['diameter'] }}</td>
        <td> {{ planet['climate'] }}</td>
        <td> {{ planet['terrain'] }}</td>
        <td> {{ planet['surface_water'] }}</td>
        <td> {{ planet['population'] }}</td>
        <td>
            {% if (planet['population'] == '0' or planet['population'] == 'unknown') %}
            No data.
            {% else %}
            <button data-url="{{planet['url']}}" class="details"> Population Details</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}